@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    /* font-family: Arial, sans-serif; */
    background-color: #b6b6b6;
    margin: 0;
    padding: 0;
    /* background-color: #333; */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgb(40, 121, 196);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.user-info {
    margin-top: 20px;
}

.user-info p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
}

strong {
    color: #555;
}

.parents-info {
    margin-top: 20px;
    text-align: left;
}

.parents-info ul {
    list-style-type: none;
    padding: 0;
}

.parents-info li {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(50, 136, 248);
}

.parents-info p {
    font-size: 1rem;
    margin: 6px 0;
    line-height: 1.4;
}

.parents-info p strong {
    color: #4a4269;
}