@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    /* font-family: Arial, sans-serif; */
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #333; */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 85vh;
    width: 50vw;
    font-size: 1.5em;

}
input {
    width: 70%;
    height: 10%;
    padding-left: 2%;
    font-size: 1.25em;
}

.submit-button {
    padding: 0%;
    cursor: pointer;
}

a {
    text-decoration: none;
}