body {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid blue 2px; */
    background-color: #333;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid green 2px; */
    height: 50vh;
    width: 40vw;
    font-size: 1.5em;
    background-color: white;
    border-radius: 3%;
}
input {
    width: 70%;
    height: 10%;
    padding-left: 2%;
    font-size: 1.25em;
}

.submit-button {
    padding: 0%;
    cursor: pointer;
}

a {
    text-decoration: none;
}