body {
    margin: auto;
    height: 139vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 85vh;
    width: 50vw;
    font-size: 1.5em;

}
input {
    width: 70%;
    height: 10%;
    padding-left: 2%;
    font-size: 1.25em;
}

.submit-button {
    padding: 0%;
    cursor: pointer;
}

a {
    text-decoration: none;
}